<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>コメント投稿画面</title>
</head>
<body>
	<form method="post" action="/addComment" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>内容</th>
				<td th:text="${formModel.content}"></td>

				<th>コメント投稿内容</th>
				<td><input type="text" name="content"
					size="20" maxlength="200" /></td>
			</tr>
		</table>
		<input type="submit" value="投稿" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>