<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<form action="./" method="get">
		日付:<input type="date" name="start_date" value="${start}"></input>～
		<input type="date" name="end_date" value="${end}"></input>
		<input type="submit" value="絞り込み">
	</form>
    </form>

	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
		</tr>


		<tr th:each="content : ${contents}">
			<td th:text="${content.id}"></td>
			<td th:text="${content.content}"></td>

			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form> <a th:href="@{/edit/{id}(id=${content.id})}">
					<button type="button">編集</button>
			</a> <a th:href="@{/comment/{id}(id=${content.id})}">
					<button type="button">コメント</button>
			</a>
			</td>
		</tr>



	</table>
	<div th:each="comment : ${comments}">

		<p>
			返信ID:<span th:text="${comment.id}"></span>
		</p>
		<p>
			返信内容:<span th:text="${comment.content}"></span>
		</p>
		<a th:href="@{/editComment/{id}(id=${comment.id})}">
			<button type="button">返信編集</button>
		</a>
		<a th:href="@{/deleteComment/{id}(id=${comment.id})}">
				<button type="button">返信削除</button></a>

	</div>

	</div>
</body>
</html>